<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
  </head>

  <body>
    <div class="d-flex flex-column vh-100">
      {{> navBar }}
      <div id="cesiumContainer" class="flex-grow-1 overflow-auto"></div>
    </div>
    {{> logsPanel }}
    {{> commands/initializeDialog }}
    {{> commands/startDialog }}
    {{> commands/stopDialog }}
    {{> commands/updateDialog }}
    {{> loginDialog }}
  </body>
</html>