<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Client Login</h5>
      </div>
      <div class="modal-body">
        <form id="loginForm">
          <div class="container">
            <div class="row mb-3">
              {{!-- <div class="col-4">
                <label for="loginPrefix" class="form-label">Prefix</label>
                <input
                  type="text"
                  class="form-control"
                  id="loginPrefix"
                  required
                />
              </div>
              <div class="col-4">
                <label for="loginUsername" class="form-label">Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="loginUsername"
                  required
                />
              </div>
              <div class="col-4">
                <label for="loginPassword" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="loginPassword"
                  required
                />
              </div> --}}
              <div class="col-4">
                <label for="loginExchange" class="form-label">Exchange</label>
                <input
                  type="text"
                  class="form-control"
                  id="loginExchange"
                  required
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-auto">
                <label for="loginHostname" class="form-label">Hostname</label>
                <input
                  type="text"
                  class="form-control"
                  id="loginHostname"
                  required
                />
              </div>
              <div class="col-auto">
                <label for="loginPort" class="form-label">Port</label>
                <input
                  type="number"
                  step="1"
                  class="form-control"
                  id="loginPort"
                  required
                />
              </div>
              <div class="col-auto">
                <label class="form-label">Options</label>
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="loginEncrypted"
                    value=""
                    checked
                  />
                  <label for="loginEncrypted" class="form-check-label"
                    >Encrypted (TLS/SSL)</label
                  >
                </div>
              </div>
            </div>
            <!-- Keycloak fields -->
            <div class="row mb-3">
              <div class="col-4">
                <label for="loginKeycloakHost" class="form-label">Keycloak Host</label>
                <input
                  type="text"
                  class="form-control"
                  id="loginKeycloakHost"
                  required
                />
              </div>
              <div class="col-4">
                <label for="loginKeycloakPort" class="form-label">Keycloak Port</label>
                <input
                  type="text"
                  class="form-control"
                  id="loginKeycloakPort"
                  required
                />
              </div>
              <div class="col-4">
                <label for="loginKeycloakRealm" class="form-label">Keycloak Realm</label>
                <input
                  type="text"
                  class="form-control"
                  id="loginKeycloakRealm"
                  required
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4">
                <label for="loginKeycloakWebLoginClientId" class="form-label">Keycloak Web Login Client ID</label>
                <input
                  type="text"
                  class="form-control"
                  id="loginKeycloakWebLoginClientId"
                  required
                />
              </div>
              <div class="col-4">
                <label for="loginKeycloakClientId" class="form-label">Keycloak Client ID</label>
                <input
                  type="text"
                  class="form-control"
                  id="loginKeycloakClientId"
                  required
                />
              </div>
              <div class="col-4">
                <label for="loginKeycloakClientSecret" class="form-label">Keycloak Client Secret</label>
                <input
                  type="text"
                  class="form-control"
                  id="loginKeycloakClientSecret"
                  required
                />
              </div>
            </div>
            <div class="row justify-content-end">
              <div class="col-auto">
                <button type="submit" class="btn btn-primary" id="loginConnect">
                  Connect
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
