<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Client Login</h5>
      </div>
      <div class="modal-body">
        <form id="loginForm">
          <div class="container">
            <!-- Keycloak Option Toggle -->
            <div class="mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="useKeycloak" checked>
                <label class="form-check-label" for="useKeycloak">
                  Use Keycloak authentication
                </label>
              </div>
            </div>
            <!-- Keycloak Section -->
            <div class="mb-4 p-3 border rounded" id="keycloakSection">
              <h6 class="mb-3">Keycloak Parameters</h6>
              <div class="row mb-3">
                <div class="col-4">
                  <label for="loginKeycloakHost" class="form-label">Keycloak Hostname</label>
                  <input
                    type="text"
                    class="form-control"
                    id="loginKeycloakHost"
                  />
                </div>
                <div class="col-4">
                  <label for="loginKeycloakPort" class="form-label">Keycloak Port</label>
                  <input
                    type="text"
                    class="form-control"
                    id="loginKeycloakPort"
                  />
                </div>
                <div class="col-4">
                  <label for="loginKeycloakRealm" class="form-label">Keycloak Realm</label>
                  <input
                    type="text"
                    class="form-control"
                    id="loginKeycloakRealm"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-4">
                  <label for="loginKeycloakClientId" class="form-label">Keycloak Client ID</label>
                  <input
                    type="text"
                    class="form-control"
                    id="loginKeycloakClientId"
                  />
                </div>
                <div class="col-4">
                  <label for="loginKeycloakClientSecret" class="form-label">Keycloak Client Secret</label>
                  <input
                    type="text"
                    class="form-control"
                    id="loginKeycloakClientSecret"
                  />
                </div>
                <div class="col-4">
                  <label for="loginKeycloakWebLoginClientId" class="form-label">Keycloak Web Login Client ID</label>
                  <input
                    type="text"
                    class="form-control"
                    id="loginKeycloakWebLoginClientId"
                  />
                </div>
              </div>
            </div>
            <!-- RabbitMQ Section -->
            <div class="mb-4 p-3 border rounded">
              <h6 class="mb-3">RabbitMQ Parameters</h6>
              <div class="row mb-3">
                <div class="col-4">
                  <label for="loginExchange" class="form-label">RabbitMQ Exchange</label>
                  <input
                    type="text"
                    class="form-control"
                    id="loginExchange"
                    required
                  />
                </div>
                <div class="col-4">
                  <label for="loginRabbitMQHost" class="form-label">RabbitMQ Hostname</label>
                  <input
                    type="text"
                    class="form-control"
                    id="loginRabbitMQHost"
                    required
                  />
                </div>
                <div class="col-4">
                  <label for="loginRabbitMQPort" class="form-label">RabbitMQ Port</label>
                  <input
                    type="text"
                    class="form-control"
                    id="loginRabbitMQPort"
                    required
                  />
                </div>
              </div>
            </div>
            <!-- Encryption Option Section -->
            <div class="mb-4 p-3 border rounded">
              <h6 class="mb-3">Encryption Option</h6>
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="loginEncrypted"
                  value=""
                  checked
                />
                <label for="loginEncrypted" class="form-check-label">
                  Encrypted (TLS/SSL)
                </label>
              </div>
            </div>
            <!-- Submit Button -->
            <div class="row justify-content-end">
              <div class="col-auto">
                <button type="submit" class="btn btn-primary" id="loginConnect">
                  Connect
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
// Toggle Keycloak section enabled/disabled
$(document).ready(function() {
  $('#useKeycloak').on('change', function() {
    const enabled = $(this).is(':checked');
    $('#keycloakSection :input').prop('disabled', !enabled);
  });
  // Initial state
  if (!$('#useKeycloak').is(':checked')) {
    $('#keycloakSection :input').prop('disabled', true);
  }
});
</script>
