<div class="col-sm-2 col-auto p-2 collapse collapse-horizontal overflow-hidden" id="logsPanel">
    <button
      type="button"
      class="btn-close float-end"
      data-bs-toggle="collapse"
      data-bs-target="#logsPanel"
      aria-label="Close"
    ></button>
    <h5 id="logsLabel" class="modal-title">Logs</h5>
    <div class="overflow-scroll p-2" id="logsContainer">
      <div class="card">
        <div class="card-body">
          <pre class="card-text logs-timestamp text-secondary">2024-08-07 22:00:00Z</pre>
          <pre class="card-text logs-topic text-danger">/try-me/manager/init</pre>
          <div class="card-text logs-payload font-monospace" style="font-size:x-small"></div>
        </div>
      </div>

    </div>
</div>