<header class="p-2 text-bg-dark">
  <div class="d-flex flex-wrap justify-content-between">
    <a
      href="/"
      class="d-flex align-items-center text-white text-decoration-none"
    >
      <i class="bi bi-rocket-takeoff me-2"></i>
      NOS-T Monitor
    </a>
    <ul class="nav col-12 col-md-auto justify-content-center">
      <li class="nav-link px-2 text-secondary">Commands:</li>
      <li>
        <a
          href="#"
          class="nav-link px-2 link-light"
          data-bs-toggle="modal"
          data-bs-target="#initializeModal"
          ><i class="bi bi-stars me-2"></i>Initialize</a
        >
      </li>
      <li>
        <a
          href="#"
          class="nav-link px-2 link-light"
          data-bs-toggle="modal"
          data-bs-target="#startModal"
          ><i class="bi bi-play me-2"></i>Start</a
        >
      </li>
      <li>
        <a
          href="#"
          class="nav-link px-2 link-light"
          data-bs-toggle="modal"
          data-bs-target="#stopModal"
          ><i class="bi bi-stop me-2"></i>Stop</a
        >
      </li>
      <li>
        <a
          href="#"
          class="nav-link px-2 link-light"
          data-bs-toggle="modal"
          data-bs-target="#updateModal"
          ><i class="bi bi-arrow-clockwise me-2"></i>Update</a
        >
      </li>
    </ul>
    <ul class="nav col-12 col-md-auto justify-content-center">
      <li class="nav-link px-2 text-secondary">Tools:</li>
      <li>
        <a href="#" class="nav-link px-2 link-light"
          ><i class="bi bi-lightbulb me-2"></i>Status</a
        >
      </li>
      <li>
        <a
          href="#"
          class="nav-link px-2 link-light"
          data-bs-toggle="offcanvas"
          data-bs-target="#logs"
          aria-controls="logs"
          ><i class="bi bi-file-text me-2"></i>Logs</a
        >
      </li>
    </ul>
    <div class="text-end">
      <button
        type="button"
        class="btn btn-outline-light me-2"
        id="navLogin"
        data-bs-toggle="modal"
        data-bs-target="#loginModal"
      >
        Login
      </button>
      <button
        type="button"
        class="btn btn-outline-light me-2"
        id="navLogout"
        style="display: none"
        data-bs-toggle="modal"
        data-bs-target="#loginModal"
      >
        Logout
      </button>
    </div>
  </div>
</header>
