// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

@import "bootstrap-icons/font/bootstrap-icons.css";

@import "@eonasdan/tempus-dominus/src/scss/tempus-dominus.scss";

@import "highlight.js/scss/default.scss";

// Prevent page overflow
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: scroll;
}

// Fix navbar positioning
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1050; /* Bootstrap's navbar z-index */
  height: 60px; /* Set explicit height */
}

#logsPanel {
    width: 33%;
    // position: absolute;
    // top: 60px; /* Position below navbar */
    // left: 0;
    // height: calc(100vh - 60px); /* Subtract navbar height */
    // z-index: 1000; /* Ensure it's above Cesium */
    // background-color: rgba(255, 255, 255, 0.9);
    // overflow-y: auto;
    // box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#cesiumContainer {
    width: 100%;
//   width: 100vw;
//   height: calc(100vh - 60px); /* Subtract navbar height */
//   margin: 0;
//   padding: 0;
//   overflow: hidden;
//   position: absolute;
//   top: 60px; /* Position below navbar */
//   left: 0;
//   z-index: 1; /* Lower z-index than logs panel */
}