// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

@import "bootstrap-icons/font/bootstrap-icons.css";

@import "@eonasdan/tempus-dominus/src/scss/tempus-dominus.scss";

@import "highlight.js/scss/default.scss";

#logsPanel {
    width: 33%;
    max-width: 100vw;
    max-height: 100vh; // Add this line
    box-sizing: border-box;
    overflow-x: auto; // Optional: adds scroll if content overflows horizontally
    overflow-y: auto; // Add this line for vertical scrolling
}