<div
  class="modal fade"
  id="initializeModal"
  tabindex="-1"
  aria-labelledby="initializeModalLabel"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="initializeModalLabel">Initialize Scenario
          Execution</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="initializeForm">
          <div class="container">
            <div class="row mb-3">
              <div class="col-12 form-check">
                <label for="initializeRequiredApps" class="form-label">Required
                  Applications</label>
                <input
                  type="text"
                  class="form-control"
                  id="initializeRequiredApps"
                  aria-describedby="initializeRequiredAppsHelp"
                />
                <div
                  id="initializeRequiredAppsHelp"
                  class="form-text"
                >Comma-delimited list of required applications (default: none).</div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-12 form-check">
                <label for="initializeIntervalInput" class="form-label">Scenario
                  Interval (UTC)</label>
                <div
                  class="input-group"
                  id="initializeInterval"
                  data-td-target-input="nearest"
                  data-td-target-toggle="nearest"
                >
                  <input
                    id="initializeIntervalInput"
                    type="text"
                    class="form-control"
                    data-td-target="#start"
                    aria-describedby="initializeInterval"
                    required
                  />
                  <span
                    class="input-group-text"
                    data-td-target="#initializeInterval"
                    data-td-toggle="datetimepicker"
                  ><i class="bi bi-calendar"></i></span>
                </div>
                <div id="initializeIntervalHelp" class="form-text">Earliest
                  possible scenario start and latest possible scenario end.</div>
              </div>
            </div>
            <div class="row justify-content-between">
              <div class="col-auto">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >Cancel</button>
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary">Send</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>