<div class="modal fade" id="initializeModal" tabindex="-1" aria-labelledby="initializeModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="initializeModalLabel">Initialize Scenario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="initializeForm">
          <div class="container">
            <div class="row mb-3">
              <div class="col-12 form-check">
                <label for="initializeRequiredApps" class="form-label">Required Applications</label>
                  <input type="text" class="form-control" id="initializeRequiredApps" aria-describedby="initializeRequiredAppsHelp">
                <div id="initializeRequiredAppsHelp" class="form-text">Comma-delimited list of required applications.</div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-12 form-check">
                <label for="initializeStartEnd" class="form-label">Scenario Interval</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="initializeStartEnd" aria-describedby="initializeStartEndHelp"
                    required>
                  <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                </div>
                <div id="initializeStartEndHelp" class="form-text">Earliest possible scenario start and latest possible scenario end.</div>
              </div>
            </div>

            <div class="row justify-content-between">
              <div class="col-auto">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary">Send</button>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>