<div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  aria-labelledby="updateModalLabel"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel">Update Scenario Execution</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="updateForm">
          <div class="container">
            <div class="row mb-3">
              <div class="col-8 form-check">
                <label for="updateTimeInput" class="form-label">Scenario Update
                  (UTC)</label>
                <div
                  class="input-group"
                  id="updateTime"
                  data-td-target-input="nearest"
                  data-td-target-toggle="nearest"
                >
                  <input
                    id="updateTimeInput"
                    type="text"
                    class="form-control"
                    data-td-target="#updateTime"
                    aria-describedby="updateTimeHelp"
                    required
                  />
                  <span
                    class="input-group-text"
                    data-td-target="#updateTime"
                    data-td-toggle="datetimepicker"
                  ><i class="bi bi-calendar"></i></span>
                </div>
                <div id="updateTimeHelp" class="form-text">Scheduled execution
                  update time.</div>
              </div>
              <div class="col-4 form-check">
                <label for="updateTimeScale" class="form-label">Time Scale</label>
                <div class="input-group">
                  <input
                    type="number"
                    min="0.1"
                    ,
                    step="0.1"
                    ,
                    value="1"
                    ,
                    class="form-control"
                    id="updateTimeScale"
                    aria-describedby="updateTimeScaleHelp"
                    required
                  />
                </div>
                <div id="updateTimeScaleHelp" class="form-text">Scenario seconds
                  per second.</div>
              </div>
            </div>
            <div class="row justify-content-between">
              <div class="col-auto">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >Cancel</button>
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary">Send</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>